@import url("https://fonts.googleapis.com/css2?family=Overpass");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  cursor: pointer;
}

.App-header {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #1e2dbe;
  font-size: 28px;
  font-weight: bold;
  font-family: "Overpass";
}

h2 {
  font-size: 20px;
  line-height: 32px;
  padding: 10px 0px;
  color: #000;
  font-family: "Overpass";
}

p {
  font-size: 14px;
  color: #000;
  font-family: "Noto Sans";
}

a {
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans";
}

.link-icon {
  margin-right: 3px;
  size: 16px;
}
